<extend name="Public/base"/>

<block name="body">
<style type="text/css">
.money{color: #e4393c; float: left; display: inline;font-size: 12px;}
.app_status{float: right; display: inline; font-size: 12px;}
.app_box{ width: 137px; height: 210px; background-color: #fff; padding: 10px; border: 1px solid #e6e6e6; float: left; margin-left: 20px; margin-top: 15px;}
.clear_margin{ margin-left: 5px;}
.app_title{ margin-top: 10px; margin-bottom: 5px; font-size: 12px;}
.app_title a{color: #666666;}
.app_list{ margin-top: 20px; width: 880px;}
</style>
	<div class="main-title">
		<h2>本地主题</h2>
	</div>

	<div class="cf">
		<a class="btn" href="{:U('theme')}">本 地</a>
		<a class="btn" href="{:U('themeOnline')}">市 场</a>
		<a class="btn" href="{:U('appUpload')}">上 传</a>
		<a class="btn ajax-get" href="{:U('defaultTheme')}">默认主题</a>
		<!-- 高级搜索 -->
		<div class="search-form fr cf">
			<div class="sleft">
				<input type="text" name="name" class="search-input" value="{:I('name')}" placeholder="请输入名称">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('themeOffline')}"><i class="btn-search"></i></a>
			</div>
		</div>
	</div>

	<div class="data-table table-striped">
		<div class="app_list">
				<notempty name="list">
				<volist name="list" id="data">
					<div class="app_box <in name='i' value='1,6,11'>clear_margin</in>">
						<p><a href="#"><img width="137" height="150" src="./Theme/{$data.name}/preview.jpg" ></a></p>
						<p class="app_title"><a href="#">{$data.title}</a></p>
						<p><span class="money">版本：{$data.version}</span><a class="app_status ajax-get" href="{:U('setupTheme?id='.$data['id'])}">{$data.is_setup|get_setup_status}</a></p>
					</div>
				</volist>
				<else/>
				<div class="text-center"> aOh! 暂时还没有内容! </div>
				</notempty>
		</div>
		<!-- 分页 -->
	    <div class="page">
	        {$_page}
	    </div>
	</div>
</block>

<block name="script">
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
});
</script>
</block>