<div class="navbarcreate-wrapper" id="navbarcreate" style="padding: 20px; font-size: 18px;">
    <el-form label-width="80px" class="demo-ruleForm">
        <el-form-item label="标题">
            <el-input type="text" v-model="form.title" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label='父节点'>
            <el-select v-model='form.pid' placeholder='请选择'>
                <el-option
                v-for='item in form.options'
                :label='item.label'
                :value='item.value'>
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="连接">
            <el-input type="text" v-model="form.url" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="排序">
            <el-input type="text" v-model="form.sort" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button style="float: right;" type="primary" @click="submitForm()">提交</el-button>
        </el-form-item>
    </el-form>
</div>