.content{
	width: 1280px;
	margin: 0 auto;
}
.content .rec_con ul li{
	float: left;
	width: 290px;
	padding: 5px;
	margin: 0 8px;
	height: 200px;
	background: #E8E8E8;
	border-radius: 3px;
	position: relative;
	-webkit-transition: all .45s ease-in-out;
	   -moz-transition: all .45s ease-in-out;
	    -ms-transition: all .45s ease-in-out;
	     -o-transition: all .45s ease-in-out;
	        transition: all .45s ease-in-out;
}
.content .rec_con ul li.bd-1{
	border:solid 1px #98D3E8;
}
.content .rec_con ul li.bd-1:hover{
	background: #98D3E8;
}
.content .rec_con ul li.bd-2{
	border:solid 1px #FFCB76;
}
.content .rec_con ul li.bd-2:hover{
	background: #FFCB76;
}
.content .rec_con ul li.bd-3{
	border:solid 1px #FF525A;
}
.content .rec_con ul li.bd-3:hover{
	background: #FF525A;
}
.content .rec_con ul li.bd-4{
	border:solid 1px #71C46F;
}
.content .rec_con ul li.bd-4:hover{
	background: #71C46F;
}
.content .rec_con ul li img{
	width: 290px;
	height: 200px;
	display: block;
}
.content .rec_con ul li .a-index{
	position: absolute;
	width: 290px;
	height: 200px;
	top: 5px;
	left: 5px;
	line-height: 20px;
	text-align: center;
	background: rgba(0,0,0,0.5);
	color: #fff;
}
.content .rec_con ul li .a-index h2{
	position: absolute;
	z-index: 20;
	top: 0; 
	left: 0;
	font-size: 2.0em;
	line-height: 28px;
	text-align: center;
	text-shadow: 0 0px 2px rgba(255,255,255,0.7);
	text-align: center;
	margin-top: 0px;
	width: 98%;
	height: 200px;
	margin-bottom: 0;
	display: table;
	padding: 0 1%;
	letter-spacing: 2px;
}
.content .rec_con ul li .a-index h2.fc-1{
	color:#98D3E8;
}
.content .rec_con ul li .a-index h2.fc-2{
	color:#FFCB76;
}
.content .rec_con ul li .a-index h2.fc-3{
	color:#FF525A;
}
.content .rec_con ul li .a-index h2.fc-4{
	color:#71C46F;
}
.content .rec_con ul li .a-index h2 span{
	display: table-cell;
	vertical-align: middle;
}
@media screen and (max-width: 1024px){
	.content{
		width: 97%;
		margin: 0 auto;
	}
	.content .rec_con ul li{
		width: 225px;
		padding: 2px;
		margin: 0 6px;
		height: 150px;
	}
	.content .rec_con ul li img{
		width: 225px;
		height: 150px;
	}
	.content .rec_con ul li .a-index{
		width: 225px;
		height: 150px;
		top: 2px;
		left: 2px;
		line-height: 20px;
	}
	.content .rec_con ul li .a-index h2{
		top: 0; 
		left: 0;
		font-size: 1.7em;
		line-height: 24px;
		width: 98%;
		height: 150px;
	}
}
@media screen and (max-width: 980px){
	.content{
		width: 95%;
		margin: 0 auto;
	}
	.content .rec_con ul li{
		width: 160px;
		padding: 2px;
		margin: 0 6px;
		height: 140px;
	}
	.content .rec_con ul li img{
		width: 160px;
		height: 140px;
	}
	.content .rec_con ul li .a-index{
		width: 160px;
		height: 140px;
		top: 2px;
		left: 2px;
		line-height: 20px;
	}
	.content .rec_con ul li .a-index h2{
		top: 0; 
		left: 0;
		font-size: 1.6em;
		line-height: 24px;
		width: 98%;
		height: 140px;
	}
}
@media screen and (max-width: 720px){
	.content{
		width: 94%;
		margin: 0 auto;
	}
	.content .rec_con ul li{
		width: 255px;
		height: 180px;
		margin-top: 10px;
	}
	.content .rec_con ul li img{
		width: 255px;
		height: 180px;
	}
	.content .rec_con ul li .a-index{
		width: 255px;
		height: 180px;
		line-height: 20px;
	}
	.content .rec_con ul li .a-index h2{
		top: 0; 
		left: 0;
		font-size: 1.8em;
		line-height: 28px;
		width: 98%;
		height: 180px;
	}
}
@media only screen and (max-width: 720px) and (-webkit-min-device-pixel-ratio : 1.0) and (orientation:landscape){
	.content .rec_con ul li{
		width: 240px;
		height: 180px;
		margin-top: 10px;
	}
	.content .rec_con ul li img{
		width: 240px;
		height: 180px;
	}
	.content .rec_con ul li .a-index{
		width: 240px;
		height: 180px;
		line-height: 20px;
	}
	.content .rec_con ul li .a-index h2{
		top: 0; 
		left: 0;
		font-size: 1.8em;
		line-height: 28px;
		width: 98%;
		height: 180px;
	}
}
@media screen and (max-width: 480px){
	.content{
		width: 100%;
	}
	.content .rec_con ul li{
		width: 45%;
		height: 150px;
		padding: 1%;
		margin: 10px 1% 5px;
	}
	.content .rec_con ul li img{
		width:100%;
		height: 150px;
	}
	.content .rec_con ul li .a-index{
		width: 98%;
		left: 1%;
		top: 2%;
		height: 150px;
		line-height: 20px;
	}
	.content .rec_con ul li .a-index h2{
		top: 0; 
		left: 0;
		font-size: 1.8em;
		line-height: 28px;
		width: 98%;
		height: 150px;
	}
}
@media screen and (max-width: 380px){
	.content{
		width: 240px;
	}
	.content .rec_con ul li{
		width: 98%;
		height: 160px;
		padding: 1%;
		margin-top: 10px;
	}
	.content .rec_con ul li img{
		width: 100%;
		height: 160px;
	}
	.content .rec_con ul li .a-index{
		width:98%;
		height: 160px;
		line-height: 20px;
		top: 1.5%;
		left: 1.5%;
	}
	.content .rec_con ul li .a-index h2{
		top: 0; 
		left: 0;
		font-size: 1.8em;
		line-height: 28px;
		width: 98%;
		height: 160px;
	}
}

.waterfull{
	margin: 0 auto;
}
.waterfull ul li{
	float: left;
	width: 284px;
	padding: 8px;
	margin: 0 6px 10px;
	background: #fff;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	border:solid 1px #BCBCBC;
	box-shadow: 0 0 10px #BCBCBC;
}
.waterfull ul li .a-img{
	width: 284px;
	display: block;
	position: relative;
}
.waterfull ul li .a-img img{
	width: 284px;
	display: block;
	min-height: 250px;
}
.waterfull ul li .li-title{
	padding: 5px 0;
	max-height: 48px;
	overflow: hidden;
	line-height: 24px;
	color: #898686;
	background: #fff;
	border-bottom: solid 1px #DBDBDB;
}
.waterfull ul li .li-title:before {
	border-color: rgba(0,0,0,0) rgba(0,0,0,0) #EEE;
	border-style: solid;
	border-width: 10px;
	content: "";
	display: block;
	position: absolute;
	margin: -24px 0 0 10px;
	width: 0;
}
.waterfull ul li .description{
	padding: 5px 0;
	max-height: 66px;
	overflow: hidden;
	line-height: 22px;
	color: #898686;
	font-size: 1.3em;
	text-indent: 10px;
	background: #fff;
	border-bottom: solid 1px #DBDBDB;
}
.waterfull ul li .qianm{
	background: #fff;
}
.waterfull ul li .qianm .sp1{
	float: left;
	height: 30px;
	line-height: 36px;
	color: #898686;
}
.waterfull ul li .qianm .sp1 b{
	color: #5DAA21;
	font-weight: bold;
	padding: 0 5px 0;
	font-size: 1.3em;
}
.waterfull ul li .qianm .sp2{
	float: right;
	height: 30px;
	padding: 0 5px;
	line-height: 36px;
	color: #898686;
}
.waterfull ul li .qianm .sp3{
	float: right;
	height: 30px;
	line-height: 36px;
	color: #898686;
}