<div class="rolecreate-wrapper" id="rolecreate" style="padding: 20px; font-size: 18px;">
    <el-form label-width="100px" class="demo-ruleForm">
        <el-form-item label="用户组名">
            <el-input type="text" v-model="form.name" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="用户组标题">
            <el-input type="text" v-model="form.display_name" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="用户组描述">
            <el-input type="text" v-model="form.description" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button style="float: right;" type="primary" @click="submitForm()">提交</el-button>
        </el-form-item>
    </el-form>
</div>