<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>积木云-您的私人云空间</title>
  <!-- Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="../../../../css/bootstrap.css">
  <!--layui样式-->
  <link rel="stylesheet" href="../../../../js/vendor/layer/skin/default/layer.css">
  <link rel="stylesheet" href="../../../../js/vendor/element/index.css">
  <!-- style CSS 文件 -->
  <link rel="stylesheet" href="../../../../css/font-awesome.min.css">
  <link rel="stylesheet" href="../../../../fonts/fontawesome-webfont.svg">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    .el-upload__input{
        display: none !important;
    }
    .el-checkbox{ 
        width: 100%;
        margin-left: 0px !important;
    }
  </style>
</head>
<body>
<div class="userCreate-wrapper" id="postCreate" style="padding: 20px; font-size: 18px;">
    <el-form >
        <el-row>
        <el-col :span="17">
                <el-input type="text" v-model="form.title" placeholder="在此输入标题" ></el-input>
                <div id="content"></div>
                <el-form-item label="描述">
                    <el-input type="textarea" v-model="form.description"></el-input>
                </el-form-item>
        </el-col>
        <el-col :span="1">&nbsp;</el-col>
        <el-col :span="6">
            <div class="panel panel-default">
                <div class="panel-heading">发布</div>
                <div class="panel-body">
                    <el-radio-group v-model="form.status">
                        <el-radio :label="1">公开</el-radio>
                        <el-radio :label="2">私密</el-radio>
                    </el-radio-group>
                </div>
                <div class="panel-footer">
                    <span style=" height: 30px; display: block;"><el-button size="small" style="float: right;" type="primary" @click="submitForm()">提交</el-button></span>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">分类目录</div>
                <div class="panel-body">
                    <el-checkbox-group v-model="form.checkedPostCates">
                        <el-checkbox v-for="postCate in form.postCates" :label="postCate.value">{{postCate.name}}</el-checkbox>
                    </el-checkbox-group>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">特色图片</div>
                <div class="panel-body">
                    <el-upload
                    action="//jsonplaceholder.typicode.com/posts/"
                    list-type="picture-card"
                    :on-preview="handlePictureCardPreview"
                    :on-remove="handleRemove"
                    :on-success="handSuccess"
                    >
                    <i class="el-icon-plus"></i>
                    </el-upload>
                    <el-dialog v-model="form.dialogVisible" size="tiny">
                    <img width="100%" :src="form.dialogImageUrl" alt="">
                    </el-dialog>
                </div>
            </div>
        </el-col>
        </el-row>
    </el-form>
</div>
  <script src="../../../../js/vendor/jquery/1.11.3/jquery.min.js"></script>
  <script src="../../../../js/vendor/ueditor/ueditor.config.js"></script>
  <script src="../../../../js/vendor/ueditor/ueditor.all.js"></script>
  <script src="../../../../js/vendor/vue/2.0/vue.min.js"></script>
  <script src="../../../../js/vendor/element/index.js"></script>
  <script src="../../../../js/config/config.js"></script>
  <script>
    new Vue({
        el: '#postCreate',
        data : {
            form:{
                title:'',
                description:'',
                status: 1,
                checkedPostCates: [],
                postCates: [],
                dialogImageUrl: '',
                dialogVisible: false
            }
        },
        methods: {
            submitForm(formName) {
                // ajax请求后台数据
                var _self = this;
                $.ajax({
                    url:'../../../../'+config.url.postStore,
                    type:'POST', // GET
                    async:false, // 是否异步
                    data:{
                        title:_self.form.title,
                        description:_self.form.description,
                        status:_self.form.status,
                        content:_self.editor.getContent(),
                        checkedPostCates:_self.form.checkedPostCates,
                        cover_path:_self.form.dialogImageUrl,
                    },
                    dataType:'json',
                    success:function(data,textStatus,jqXHR){
                        if (data.status == 'success') {

                        } else {

                        }
                    },
                    error:function(xhr,textStatus){
                        console.log('错误')
                    }
                });

            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePictureCardPreview(file) {
                this.form.dialogImageUrl = file.url;
                this.form.dialogVisible = true;
            },
            handSuccess(response, file, fileList) {
                console.log(file, fileList);
            },
        },
        mounted: function () {
            this.editor = UE.getEditor('content');
            var _self = this;
            $.ajax({
                url:'../../../../'+config.url.postCreate,
                type:'GET', // GET
                async:false, // 是否异步
                dataType:'json',
                success:function(data,textStatus,jqXHR){
                    if (data.status == 'success') {
                        _self.form.postCates = data.data;
                    } else {
                        _self.$message.error(data.msg);
                    }
                },
                error:function(xhr,textStatus){
                    console.log('错误')
                }
            });
        }
    });
  </script>
</body>
</html>